extends layouts/main-layout.pug
block links
  link(rel="stylesheet" href="css/note-card.css")
  script(src="js/script.js" defer) 
block content
  .container
    .note.master
      .circle
    .note
      h3.note__header note title
      p.note__body
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ut.
        | Repudiandae optio minima animi harum. Inventore quos temporibus
        | tempore repellendus, eius sapiente ea! Excepturi itaque, accusamus ut
        | maiores commodi dolore. Lorem, ipsum dolor sit amet consectetur
        | adipisicing elit. Error, accusantium quos sint maxime mollitia,
        | sapiente ipsam doloribus qui eligendi distinctio ea officia a voluptas
        | eius quas dolorem repudiandae similique atque?
      hr
      .note__details
        span.date 21 March, 2025
    each note in notes
      .note
        h3.note__header #{note.title}
        p.note__body #{note.body}
        hr
        .note__details
          span.date 21 March, 2025
    //- .note
    //- .note
    //- .note
    //- .note

