extends layouts/head.pug
block content
  .container
    .note.master
      .circle
    .note
      h3.note__header note title
      p.note__body
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ut.
        | Repudiandae optio minima animi harum. Inventore quos temporibus
        | tempore repellendus, eius sapiente ea! Excepturi itaque, accusamus ut
        | maiores commodi dolore. Lorem, ipsum dolor sit amet consectetur
        | adipisicing elit. Error, accusantium quos sint maxime mollitia,
        | sapiente ipsam doloribus qui eligendi distinctio ea officia a voluptas
        | eius quas dolorem repudiandae similique atque?
      hr
      .note__details
        span.date 21 March, 2025
    .note
    .note
    .note
    .note

