extends layouts/main-layout.pug
block links
  link(rel="stylesheet", href="css/note-form.css")
block content
  form(action="/note-edit", method="POST")
    .field 
      label(for="title") Title
      input#title(type="text", name="title", value=`${edit ? note.title : ''}`)
    .field(class="note-body")
      label(for="noteBody") Note Body
      textarea#body(name="noteBody") #{edit ? note.body : ''}
      input(type="hidden", name="noteId", value=`${edit ? note.id : ''}`)
    button(type="submit") #{edit ? "Edit" : "Create"}
