extends layouts/main-layout.pug
block links
  link(rel="stylesheet", href="css/note-details.css")
block content 
  h1 note title 
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ut. Repudiandae optio minima animi harum. Inventore quos temporibus tempore repellendus, eius sapiente ea! Excepturi itaque, accusamus ut maiores commodi dolore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, accusantium quos sint maxime mollitia, sapiente ipsam doloribus qui eligendi distinctio ea officia a voluptas eius quas dolorem repudiandae similique atque?