.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: left;
  padding: 1rem;
  gap: 1rem;
  box-sizing: border-box;
}
@media (max-width: 1300px) {
  .container {
    min-width: 60%;
    margin: 0 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}
.note {
  background-color: #ddd;
  height: 18rem;
  min-width: 20rem;
  border-radius: 1%;
  display: grid;
  padding: 1rem 2rem;
  transition: background-color 0.4s;
  /* cursor: pointer; */
}
.note__header {
  margin-top: 1rem;
  font-size: 2rem;
}
.note__body {
  max-height: 9.5rem;
  overflow-y: scroll;
  color: #56686f;
  outline: none;
}
.note__body::-webkit-scrollbar {
  display: none;
}

/* .note:hover {
  background-color: #a1e3f9;
} */

.master {
  background-color: #a1e3f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.master .circle {
  height: 15rem;
  width: 15rem;
  border-radius: 15%;
  /* background-color: #000; */
  border: 10px dashed #578fca;
}
.note__details {
  color: #56686f;
  display: flex;
  justify-content: space-between;
}
.note__details .control span {
  cursor: pointer;
  transition: color 0.2s;
}
.note__details .control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.note__details .control .edit:hover {
  color: #007bff;
}
.note__details .control .delete:hover {
  color: #da0743e6;
}
